.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.content-row {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-left: 80px;
}
